---
services:
  terraform:
    environment:
      SSH_KEY: ${HOME}/.ssh
      # SSH_AUTH_SOCK: /run/host-services/ssh-auth.sock  # For MacOS
    volumes:
      - ${HOME}/.cache:${HOME}/.cache
      - ${OS_CLIENT_CONFIG_FILE}:${OS_CLIENT_CONFIG_FILE}
