{%- set token_data = (valid_bootstrap_tokens|first).data -%}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: "{{ token_data['token-id']|b64decode }}.{{ token_data['token-secret']|b64decode }}"
    caCertHashes:
    - "sha256:{{ ca_info.public_key_fingerprints.sha256.replace(':', '') }}"
{% if control_plane_endpoint %}
    apiServerEndpoint: "{{ control_plane_endpoint }}"
{% else %}
    apiServerEndpoint: "{{ hostvars[cp_node].ansible_default_ipv4.address }}:6443"
{% endif %}
{% if _kubelet_node_ip is defined %}
nodeRegistration:
  kubeletExtraArgs:
    node-ip: "{{ _kubelet_node_ip.ipv4.address }}"
{% endif %}
{% if _control_plane %}
controlPlane:
  certificateKey: "{{ cert_encryption_key }}"
{% if _kube_apiserver_advertise_address is defined %}
  localAPIEndpoint:
    advertiseAddress: "{{ _kube_apiserver_advertise_address.ipv4.address }}"
{% endif %}
{% endif %}
