{%- macro apiserver_ips() -%}
{%- for server in groups.kube_control_plane -%}
{{ hostvars[server].ansible_default_ipv4.address }}
{%- if not loop.last %}{{" "}}{% endif -%}
{%- endfor %}
{%- endmacro -%}
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    component: apiserver-proxy
    tier: control-plane
  name: apiserver-proxy
  namespace: kube-system
spec:
  containers:
  - env:
    - name: K8S_LOADBALANCER_PORT
      value: '{{ apiserver_proxy_port }}'
    - name: K8S_MASTERS_IPS
      value: '{{ apiserver_ips() }}'
    image: enix/kubernetes-api-loadbalancer:master
    imagePullPolicy: IfNotPresent
    name: proxy
    resources:
      requests:
        cpu: 250m
  hostNetwork: true
  priorityClassName: system-cluster-critical
