---
{% if _target_kube_version is version("1.22", ">=") -%}
apiVersion: kubeadm.k8s.io/v1beta3
{% else %}
apiVersion: kubeadm.k8s.io/v1beta2
{% endif %}
kind: InitConfiguration
{% if _kube_apiserver_advertise_address is defined %}
localAPIEndpoint:
  advertiseAddress: "{{ _kube_apiserver_advertise_address.ipv4.address }}"
{% endif %}
{% if _kubelet_node_ip is defined %}
nodeRegistration:
  kubeletExtraArgs:
    node-ip: {{ _kubelet_node_ip.ipv4.address }}
{% endif %}
{% if enable_kubeadm_patches and _target_kube_version is version("1.22", ">=") -%}
patches:
  directory: {{ kubeadm_patch_dir }}
{%- endif %}
