{%- macro apiserver_ips() -%}
{%- for server in groups[kube_cp_group] -%}
{{ hostvars[server].ansible_default_ipv4.address }}
{%- if not loop.last %}{{" "}}{% endif -%}
{%- endfor %}
{%- endmacro -%}
K8S_LOADBALANCER_PORT={{ apiserver_proxy_port }}
K8S_MASTERS_IPS={{ apiserver_ips() }}
