{%- macro apiserver_ips() -%}
{%- for server in groups[kube_cp_group] -%}
{%- if hostvars[server]._kube_apiserver_advertise_address is defined -%}
{{ hostvars[server]._kube_apiserver_advertise_address.ipv4.address }}
{%- else -%}
{{ hostvars[server].ansible_default_ipv4.address }}
{%- endif -%}
{%- if not loop.last %}{{" "}}{% endif -%}
{%- endfor %}
{%- endmacro -%}
K8S_LOADBALANCER_PORT={{ apiserver_proxy_port }}
K8S_MASTERS_IPS={{ apiserver_ips() }}
