---
{{ cluster_config_final|to_nice_yaml(indent=2) }}
{% if kubelet_config_final != kubelet_config_orig
  or groups.cp_running|default([])|length == 0 %}
---
{{ kubelet_config_final|to_nice_yaml(indent=2) }}
{% endif %}
{% if kubeproxy_config_final != kubeproxy_config_orig
  or groups.cp_running|default([])|length == 0 %}
---
{{ kubeproxy_config_final|to_nice_yaml(indent=2) }}
{% endif %}
{% if init_config != {} %}
---
{{ init_config|to_nice_yaml(indent=2) }}
{% endif %}
