---
{{ _cluster_config_final|to_nice_yaml(indent=2) }}
{% if _kubelet_config_diff.diff_lines|length > 0
  or groups.cp_running|default([])|length == 0 %}
---
{{ _kubelet_config_final|to_nice_yaml(indent=2) }}
{% endif %}
{% if _kubeproxy_config_diff.diff_lines|length > 0
  or groups.cp_running|default([])|length == 0 %}
---
{{ _kubeproxy_config_final|to_nice_yaml(indent=2) }}
{% endif %}
{% if init_config != {} %}
---
{{ init_config|to_nice_yaml(indent=2) }}
{% endif %}
